
.ampel{
  border-color: black;
  width: 120px;
  background: #000; /* ampelbody färben */
  padding: 10px 0px; /* oben und unten abstand inerhalb des ampelbodys */
  float: left;
}

#center-box{
  width: 240px;
  margin: 0 auto;
}
.clear{
  clear: both;
}

.rot, .gelb, .gruen{
  margin: 0 auto; /* Ampellichter mittig ausrichten */
}

.rot{
    border-color: black;
    border-style: solid;
    background-color: red;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}

.gelb{
    border-color: black;
    border-style: solid;
    background-color: yellow;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}

.gruen{
    border-color: black;
    border-style: solid;
    background-color: green;
    width: 100px;
    border-radius: 100%;
    height: 100px;
}
