
.ampel{
  border-color: black;
  width: auto;
}

.rot{
    border-color: black;
    border-style: solid;
    background-color: red;
    width: auto;
}

.gelb{
    border-color: black;
    border-style: solid;
    background-color: yellow;
}

.gruen{
    border-color: black;
    border-style: solid;
    background-color: green;
}
