
.ampel{
  border-color: black;
  width: 120px;
}

.rot{
    border-color: black;
    border-style: solid;
    background-color: red;
    width: 100px;
}

.gelb{
    border-color: black;
    border-style: solid;
    background-color: yellow;
    width: 100px;
}

.gruen{
    border-color: black;
    border-style: solid;
    background-color: green;
    width: 100px;
}
