.col-xs-4 {

}

.col-lg-4+.col-lg-4{
  background-color: yellow;
}

.col-lg-4+.col-lg-4+.col-lg-4{
  background-color: green;
}


.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    margin: 0;
    float: none;
    text-align:center
}

#logo{
  opacity: 0;
  z-index: 1031;
  position:relative;
}

p{
  /*height: 10000px;*/
}

body{
  padding-top: 70px;
}
